<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzRVQ-8OF6p6v8REP3NGdK52hoDm9Mtgw</string>
	<key>GCM_SENDER_ID</key>
	<string>395328633027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterToDoList</string>
	<key>PROJECT_ID</key>
	<string>todoapllication-458d5</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapllication-458d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395328633027:ios:b150a5a21f9334a0288a76</string>
</dict>
</plist>